body { 
    height: 100vh;
    background-image: url(../view/png/bandeira.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font: normal 15pt Arial;
}
header {
    background-color: transparent;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.topo {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 200px;
    margin-right: 60px;
    font-size: 18px;
    display: inline-block;
    display: flex;
}

.topo a {
    color: rgb(226, 226, 184);
    border: 1px solid transparent;
    transition: ease;
    padding: 5px 20px;
    font: Arial;
    text-decoration: none;
    font-weight: bold;
}
.topo .foco{
    background-color: rgb(43, 114, 37);
    border-radius: 10px;
}
.topo a:hover {
    background-color: rgb(108, 179, 105);
    color: black;
    border-radius: 10px;
    transition: 1s;
}
h1{
    color: rgb(51, 104, 45);
    text-align: center;
    font-family: "roboto";
    font-size: 40px;
}
section{
    background-color: beige;
    border: 2xp solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 15px;
    width: 50%;
    height: 600px;
    margin:200px auto;
    margin-top: 100px;
    box-shadow: 5px 5px 10px black;
    text-align:center;

}
.form {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    text-align: left;
}

.title {
    color: rgb(43, 114, 37)
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    /*alinhar as colunas*/
    justify-content: space-between;
    /*separar blocos*/
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    padding: 5px 20px;
    width: 40%;
}

.input-box input {
    /*formato dos blocos*/
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    font-size: 0.8rem;
}
.input-box label{
    font-size: 17px;
    font-weight: 600;
    color: rgb(43, 114, 37);
    font-weight: bold;
    font-family: "arial";
}
.input-box input::placeholder {
    color: black;
}
.Endereço:hover{
    color: green;
}
.Cadastrar{
    background-color: white;
    color: rgb(43, 114, 37);
    font-size: 18px;
    font-weight: 600;
    height: 45px;
    width: 180px;
    border: rgb(43, 114, 37);
    cursor: pointer;
    border-radius: 40px;
    text-align: center;
    border: 2px solid;
    margin-top: auto;
}
.Cadastrar:hover{
    background-color: rgb(43, 114, 37);
    color: beige;
    border-color: black;
}
footer {
    background-color: beige;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

footer .text {
    color: rgb(119, 178, 118);
    text-align: left;
    font-style: italic;
    display: flex;
}

footer .text img {
    float: left;
    width: 250px;
    height: auto;
}

footer .text ul {
    width: 25%;
    height: 30%;
}

footer h4 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
}

footer a {
    color: rgb(119, 178, 118);
    font-size: 17px;
    font-weight: bold;
}