.Cadastrar {
    background-color: white;
    color: rgb(43, 114, 37);
    font-size: 19px;
    font-weight: 600;
    border: rgb(43, 114, 37);
    transition: all linear 160ms;
    cursor: pointer;
    line-height: 22px;
    border-radius: 40px;
    height: 45px;
    width: 150px;
    border: 2px solid;
    margin-right: auto;
}

body {
    height: 100vh;
    background-image: url(../view/png/casinhas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font: normal 15pt Arial;

}

header {
    background-color: transparent;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.topo {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    margin-right: 60px;
    font-size: 18px;
    display: inline-block;
    display: flex;
}

.topo a {
    color:rgb(12, 55, 7) ;
    border: 1px solid transparent;
    transition: ease;
    padding: 5px 20px;
    font: Arial;
    text-decoration: none;
    font-weight: bold;
}
.topo .foco{
    background-color: rgb(113, 177, 112);
    border-radius: 10px;
}
.topo a:hover {
    background-color: rgb(43, 114, 37);
    color: black;
    border-radius: 10px;
    transition: 1s;
}

section {
    background-color: beige;
    border: 2xp solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 15px;
    width: 800px;
    height: 700px;
    margin: 80px auto;
    box-shadow: 5px 5px 10px black;
    text-align: center;
}

.form {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    text-align: left;
}

.title {
    color: rgb(43, 114, 37)
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    font-size: 0.8rem;
}
.input-box label,
.genero-title h6 {
    font-size: 17px;
    font-weight: 600;
    color: rgb(43, 114, 37);

}
.input-box input::placeholder {
    color: black;
}
.genero-group {
    display: flex;
    justify-content: space-evenly;
    margin-top: 0.62rem;
    padding: 0 .5rem;
}

.genero-input {
    display: flex;
    align-items: center;
}

.genero-input label {
    font-size: 16px;
    font-weight: 600;
    color: rgb(43, 114, 37);
}

footer {
    background-color: beige;
    width: 100%;
    height: 250px;
}

footer .text {
    background-color: transparent;
    color: rgb(119, 178, 118);
    text-align: left;
    font-style: italic;
    display: flex;
}

footer .text img {
    float: left;
    width: 250px;
    height: auto;
}

footer .text ul {
    width: 25%;
    height: 30%;
}

footer h4 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
}

footer a {
    color: rgb(119, 178, 118);
    font-size: 17px;
    font-weight: bold;
}

.Termos label {
    color: rgb(43, 114, 37);
    font-size: 18px;
    font: normal Arial;
    font-weight: bold;
}