<!DOCTYPE html>
<html>

<head>
    <title>Endereços</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../CSS/home.css'>
</head>

<body>

    <header>
        <div class="logo">
            <img src="png/capivara.png">
        </div>

        <div id="clima" class="clima"></div>

        <div class="topo">
            <li><a href="/view/index.html" onclick="logout()" >Home</a></li>
            <li><a href="/view/cadastro-endereco.html">Cadastrar endereço</a></li>
            <li><a href="/view/home.html" class=" foco">Meus endereços</a></li>
            <li><a href="/view/index.html" onclick="logout()" >Sobre</a></li>
        </div>
    </header>
    <section>
        <div class="lista">
            <ul id="lista-enderecos">
            </ul>
        </div><br><br>


        <div id="formulario-atualizacao" style="display: none; margin-top: 20px;"></div>
    </section>

    <footer>
        <div class=text>
            <ul>
                <h4>Contato:</h4>
                <li>
                     Email: achaqui@gmail.com
                </li>
                <li>
                    Telefone: +0800 726 4383 
                </li>
                <li>
                    Whatsapp: (11) 97483946
                </li>
            </ul>
            <ul>
                <h4>Link</h4>
                <li><a href="/view/index.html">Home</a></li>
                <li><a href="/view/login.html">Login</a></li>
                <li><a href="/view/cadastro-usuario.html">Cadastrar-se</a></li>
                <li><a href="/view/home.html">Meus Endereços</a></li>
                <li><a href="/view/index.html">Sobre</a></li>
            </ul>
            <ul>
                <h4>Suporte</h4>
                <li>
                    FAQ
                </li>
                <li>
                    Contato
                </li>
                <li>
                    Como Funciona
                </li>
            </ul>
            <ul>
                <div class="logo">
                    <img src="png/capivara.png">
                </div>
            </ul>
        </div>
    </footer>
    <script src='/JavaScript/home.js'></script>

</body>

</html>