body {
    height: 100vh;
    background-image: url(../view/png/baianas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    font: normal 15pt Arial;

}

section {
    background-color: beige;
    border: 2xp solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 15px;
    width: 650px;
    height: 600px;
    margin: 200px auto;
    box-shadow: 0 0 10px rgb(0, 0, 0, .2);
    text-align: center center;
    background-position: center center;
    justify-content: center;
    align-items: center;

}

header {
    background-color: transparent;
    width: 100%;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.topo {
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 18px;
    display: inline-block;
    display: flex;
}

.topo a {
    color: rgb(12, 55, 7);
    border: 1px solid transparent;
    transition: ease;
    padding: 5px 20px;
    font: Arial;
    text-decoration: none;
    font-weight: bold;
}
.topo .foco{
    background-color: rgb(113, 177, 112);
    border-radius: 10px;
}
.topo a:hover {
    background-color: rgb(43, 114, 37);
    color: black;
    border-radius: 10px;
    transition: 1s;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto';
    color: rgb(12, 55, 7)
}

.list-social {
    text-align: center;
}

.Entrar {
    background-color: white;
    color: rgb(43, 114, 37);
    font-size: 18px;
    font-weight: 600;
    height: 30px;
    width: 17%;
    border: rgb(43, 114, 37);
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    line-height: 22px;
    border-radius: 40px;
    border: 2px solid;
}

button {
    background-color: transparent;
    color: rgb(12, 55, 7);
    font-size: 17px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
    margin: 0;
    line-height: 20px;
    padding: 10px 5px 10px 5px;
    font-weight: bold;
    font-family: "cambria";
}

.form {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem;
    text-align: center;
}

.input-group {
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.Blocos {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 75%;
    height: 80px;
    margin: auto;
    align-items: center;
}

.Blocos input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    font-size: 0.8rem;
}

.Blocos input:hover {
    background-color: #eeeeee75;
}

.Blocos input:focus-visible {
    outline: 1px solid black;
}

.Blocos label,
.gender-title h6 {
    font-size: 15px;
    font-weight: 600;
    color: rgb(43, 114, 37);

}

.Blocos input::placeholder {
    color: black;
}

footer {
    background-color: beige;
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

footer .text {
    color: rgb(119, 178, 118);
    text-align: left;
    font-style: italic;
    display: flex;
}

footer .text img {
    float: left;
    width: 250px;
    height: auto;
}

footer .text ul {
    width: 25%;
    height: 30%;
}

footer h4 {
    font-size: 20px;
    margin-bottom: 16px;
    font-weight: 600;
}

footer a {
    color: rgb(119, 178, 118);
    font-size: 17px;
    font-weight: bold;
}

p {
    color: rgb(113, 177, 112);
    font: normal 14pt Arial;
    font-weight: bold;
}
